body {
    background-color: beige;
    text-align: center;
}

h2 {
    text-align: center;
    text-shadow: 1px 1px 2px;
    font-size: 40px;
    color: dimgray;
    height: 90px;
    margin-top: 30px
}

h3 {
    margin-bottom: -30px;
}

h4 {
    margin-bottom: -20px;
}

button {
    -moz-box-shadow: inset 0px 39px 0px -24px #ababab;
    -webkit-box-shadow: inset 0px 39px 0px -24px #ababab;
    box-shadow: inset 0px 39px 0px -24px #ababab;
    background-color: #a8a8a8;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    margin-top: 20px;
}

button:hover {
    background-color: #a8a8a8;
}

button:active {
    position: relative;
    top: 1px;
}

input {
    width: 200px;
    height: 20px;
}