body {
    background-color: beige;
    text-align: center
}

h2 {
    text-align: center;
    text-shadow: 1px 1px 2px;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    font-size: 40px;
    color: dimgray;
    height: 80px
}

img {
    width: 30%;
    margin-top: 100px;
}

p {
    text-align: center;
    color: dimgray;
    height: 50px;
    font-size: 20px;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

.myButton {
    -moz-box-shadow: inset 0px 39px 0px -24px #ababab;
    -webkit-box-shadow: inset 0px 39px 0px -24px #ababab;
    box-shadow: inset 0px 39px 0px -24px mediumseagreen;
    background-color: mediumseagreen;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 25px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    margin-top: 50px
}

.myButton:active {
    position: relative;
    top: 1px;
}

.gauche {
    float: left;
}

.droite {
    float: right;
}

.haut {
    position: absolute;
    right: 9px;
    top: 60px;
}

.myButton2 {
    -moz-box-shadow: inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow: inset 0px 1px 0px 0px #cf866c;
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background: -moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: -webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: -o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: -ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315', GradientType=0);
    background-color: #d0451b;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #942911;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
}

.myButton2:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background: -moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b', GradientType=0);
    background-color: #bc3315;
}

.myButton2:active {
    position: relative;
    top: 1px;
}

.myButton1 {
    -moz-box-shadow: inset 0px 39px 0px -24px #ababab;
    -webkit-box-shadow: inset 0px 39px 0px -24px #ababab;
    box-shadow: inset 0px 39px 0px -24px gray;
    background-color: gray;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 25px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}

.myButton:hover {
    background-color: #a8a8a8;
}

.myButton:active {
    position: relative;
    top: 1px;
}

h1 {
    margin-top: -100px;
    margin-bottom: -100px;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    color: dimgray
}

h3 {
    text-align: left;
    margin-top: -500px
}