body {
    background-color: beige;
    text-align: center;
    text-shadow: 1px 1px 2px;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    font-size: 20px;
    color: dimgray;
    margin-top: 150px
}

.myButton1 {
    -moz-box-shadow: inset 0px 39px 0px -24px #ababab;
    -webkit-box-shadow: inset 0px 39px 0px -24px #ababab;
    box-shadow: inset 0px 39px 0px -24px mediumseagreen;
    background-color: mediumseagreen;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 25px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    margin-top: 50px;
    width: 200px
}

.myButton1:hover {
    background-color: mediumseagreen;
}

.myButton1:active {
    position: relative;
    top: 1px;
}

.myButton2 {
    -moz-box-shadow: inset 0px 39px 0px -24px #ababab;
    -webkit-box-shadow: inset 0px 39px 0px -24px #ababab;
    box-shadow: inset 0px 39px 0px -24px #e4685d;
    background-color: #e4685d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 25px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    width: 200px
}

.myButton2:hover {
    background-color: #e4685d;
}

.myButton2:active {
    position: relative;
    top: 1px;
}

.droite {
    float: right;
    margin-right: 500px;
    margin-top: 50px
}

.gauche {
    float: left;
    margin-left: 500px
}