body {
    background-color: beige;
    text-align: center;
    text-shadow: 1px 1px 2px;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    font-size: 40px;
    color: dimgray;
}