body {
    background-color: beige;
    text-align: center;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    margin-top: 70px;
}

.myButton {
    -moz-box-shadow: inset 0px 39px 0px -24px #ababab;
    -webkit-box-shadow: inset 0px 39px 0px -24px #ababab;
    box-shadow: inset 0px 39px 0px -24px mediumseagreen;
    background-color: mediumseagreen;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 25px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    margin-top: 50px
}

.myButton:hover {
    background-color: mediumseagreen;
}

.myButton:active {
    position: relative;
    top: 1px;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px;
    font-size: 25px;
    color: dimgray;
    height: 90px
}

h3 {
    margin-top: 50px
}

.diceWrap {
    display: flex;
    justify-content: center;
    align-content: center;
}

.dice {
    border: 2px solid black;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    &.hold {
        border-color: red;
        .dot {
            background: red;
        }
    }
    .dot {
        border-radius: 50%;
        background: black;
        width: 10px;
        height: 10px;
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        transition: all 0.2s ease;
        opacity: 0;
        z-index: -1;
    }
}

.one {
    .dot:first-child {
        opacity: 1;
    }
}

.two {
    .dot:nth-child(1) {
        transform: translate(130%, -130%);
        opacity: 1;
    }
    .dot:nth-child(2) {
        transform: translate(-130%, 130%);
        opacity: 1;
    }
}

.three {
    .two;
    .dot:nth-child(3) {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.four {
    .dot:nth-child(1) {
        transform: translate(130%, 130%);
        opacity: 1;
    }
    .dot:nth-child(2) {
        transform: translate(-130%, -130%);
        opacity: 1;
    }
    .dot:nth-child(3) {
        transform: translate(130%, -130%);
        opacity: 1;
    }
    .dot:nth-child(4) {
        transform: translate(-130%, 130%);
        opacity: 1;
    }
}

.five {
    .four;
    .dot:nth-child(5) {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.six {
    .four;
    .dot:nth-child(5) {
        transform: translate(130%, 0);
        opacity: 1;
    }
    .dot:nth-child(6) {
        transform: translate(-130%, 0);
        opacity: 1;
    }
}