body {
    background-image: url("fond.jpg");
    text-align: center;
}

h2 {
    text-align: center;
    text-shadow: 1px 1px 2px;
    font-size: 50px;
    color: dimgray;
    height: 90px;
    margin-top: 30px;
    text-shadow: white -1px 1px;
    margin-top: 70px
}

h3 {
    margin-bottom: -30px;
}

h4 {
    margin-bottom: -20px;
}

button {
    -moz-box-shadow: inset 0px 39px 0px -24px gray;
    -webkit-box-shadow: inset 0px 39px 0px -24px gray;
    box-shadow: inset 0px 39px 0px -24px gray;
    background-color: gray;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 25px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}

button:hover {
    background-color: gray;
}

button:active {
    position: relative;
    top: 1px;
}

input {
    width: 200px;
    height: 20px;
}

.button1 {
    -moz-box-shadow: inset 0px 39px 0px -24px mediumseagreen;
    -webkit-box-shadow: inset 0px 39px 0px -24px mediumseagreen;
    box-shadow: inset 0px 39px 0px -24px mediumseagreen;
    background-color: mediumseagreen;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 25px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}

.button1:hover {
    background-color: mediumseagreen;
}

.button1:active {
    position: relative;
    top: 1px;
}

.form-control {
    width: 25%;
    margin-left: auto;
    margin-right: auto
}

#pseudo {
    margin-bottom: 10px
}