body {
    background-image: url("fond.jpg");
    text-align: center;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    color: dimgray;
}

.myButton {
    -moz-box-shadow: inset 0px 39px 0px -24px #ababab;
    -webkit-box-shadow: inset 0px 39px 0px -24px #ababab;
    box-shadow: inset 0px 39px 0px -24px mediumseagreen;
    background-color: mediumseagreen;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 25px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}

.myButton:hover {
    background-color: mediumseagreen;
}

.myButton:active {
    position: relative;
    top: 1px;
}

h1 {
    font-size: 50px;
    margin-top: 80px
}

h2 {
    margin-top: 80px;
    margin-bottom: 60px
}